@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
    font-family: Arial;
    margin: 0px;
}

p {
    margin: 5px;
}

.container {
    display: flex;
    width: 100%;
}

img {
    width: 400px;
    height: 100vh;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
}

.photo-text {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.img {
    width: 400px;
    position: relative;
}

.banner {
    position: absolute;
    color: white;
    top: 35vh;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-family: Parkinsans, Arial;
}

.left {
    padding: 0px;
    margin: 0px;
}

.right {
    padding: 10px;
    padding-left: 0px;
    margin: 0px;
}

label {
    display: block;
}

.row {
    display: flex;
    gap: 50px;
}

input {
    width: 250px;
    border: 1px solid rgb(200, 197, 197);
    border-radius: 4px;
    padding: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}

h2 {
    padding: 0px;
    margin: 0px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 30px 30px;
    width: 1080px;
}

.right p {
    width: 520px;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: bold;
}

.warning {
    font-size: 10px;
    color: red;
    opacity: 0;
}

.login {
    margin: 0px;
}

.right button {
    margin-left: 20px;
    margin-bottom: 0px;
    width: 200px;
    height: 40px;
    border: none;
    background-color: #596D48;
    color: white;
    border-radius: 4px;
}

.column input:invalid {
    outline: 1px solid red;
}

.column label {
    font-size: 10px;
    letter-spacing: 1px;
}

.column input:focus {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    outline: 1px solid blue;
}

.log {
    color: #596D48;
}